# Dependencies
node_modules/

# Build output
dist/

# Environment
.env
.env.local
.env.production

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/

# Uploads
uploads/

# Prisma
prisma/*.db
prisma/*.db-journal

# Logs
*.log
npm-debug.log*

# Testing
*.tsbuildinfo

/generated/prisma
